<div class="container" [class.error]="isError" [class.checked]="isChecked">
  <form>
    <div class="input-container" [class.value]="username">
      <img *ngIf="!isChecking && !isError && !isChecked" class="left-icon" src="../assets/iconos/png/lupa.png" />
      <img *ngIf="isChecking" class="left-icon" src="../assets/spinner.gif" />
      <img *ngIf="isError" class="left-icon" src="../assets/iconos/png/error.png" />
      <img *ngIf="isChecked" class="left-icon" src="../assets/iconos/png/check.png" />
      <input [(ngModel)]="username" (ngModelChange)="setState()" name="username" type="text" placeholder="@usuario" (keyup.enter)="checkUser()">
      <img *ngIf="!isChecking && !isError && !isChecked" (click)="checkUser()" class="right-icon" src="../assets/iconos/png/flecha.png" />
    </div>
  </form>
</div>
